<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squareup.radiography.sample.compose">

  <application
      android:label="Radiography Compose"
      android:icon="@mipmap/ic_launcher"
      >

    <activity
        android:name=".MainActivity"
        android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

  </application>
</manifest>
